#pongContainer {
  margin: 0 auto;
  background-color: #002c30;
  z-index: 0;
}
#headerContainer {
  position: absolute;
  left: 0;
  right: 0;
}
.gameComponentContainer {
  height: 100%;
  width: 100%;
}
